@font-face{font-family:"Droid Arabic Kufi";src:url(../font/Cairo-Regular.ttf);}
BODY{margin: 0 auto;text-decoration: none;font-family: 'Droid Arabic Kufi', Arial !important;	}
.outerdiv{width:100%;text-align:center;margin: 0 auto;    }
div#E-learningums-sitetitle img {width: 150px;}
div#E-learningums-sitetitle ul {text-align: center;margin-top: 1%;}
div#E-learningums-sitetitle li {padding: 1px;}
.logo {padding: 1%;margin-top: 1%;margin-bottom: 1%;border: 2px solid #eee;border-radius: 10px;margin-bottom:4%;box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);}
div#E-learningums-sitetitle {text-align: right;}
ul{list-style-type:none;}
div#E-learningums-sitetitle ul {padding: 0;margin: 0;}
div#left-logo {margin-top: 1%;}
.modal-body h4 {color: #0f81c4;}
.left {padding: 5%; border: 2px solid #0f81c4;font-weight: bold;}
select.form-control {padding: 0 2%;}
.login {margin: 1% 2% 1% 2%;padding: 2%;}
form li {padding: 3px;}
form  h5 {border-bottom: 2px solid #a20606;padding-bottom: 2%;}
.links_admin {margin-top: 3%;}
td.Title {padding: 1%;}
.div_btn{display:flex;flex-direction:column;align-items:center;	}
table.Table tr td {padding: 1%;}
table.BorderTable {width: 100%;}
table.BorderTable td {padding:2% 0% 2% 0%; }
table.BorderTable td a  {line-height: 2;}
table.BorderTable h4 {background: #a20606;color: #fff;padding-top: 1%;margin: 0;line-height: 2;}
table.BorderTable li {list-style-type:none;text-align: center;}
.panel-heading {background: #eee;line-height: 2;}
select.selectsubject {width: 250px;}
.menu_admin ul {margin: 0 auto;padding: 0;}
div#center { min-height: 600px;}
.rightimglogo img {width: 50%;}
.rightimglogo {border-left: 2px solid #eee;}
.panel-heading li {display: inline-block;padding: 0% 2% 0% 2%;}
.panel-heading  input[type="button"] {font-size:12px;color:#337ab7;}
.panel-heading i.glyphicon.glyphicon-print {color:#337ab7;}
.formlogo ul {border: 1px solid #eee;padding: 0;}
.tch {padding-top: 5px;color: #a20606;}
h4.h4_title {font-size: 22px;padding-top: 5%;font-weight: 700;}
ul.title_top h4 {padding-bottom: 2%;}
h4.ibn {font-size: 20px;font-weight: 600;}
div#E-learningums-sitetitle h4 {font-weight: 700;}
.panel-heading {font-size: 24px;}
.left li {list-style-type: none;padding-bottom: 8%;}
i.fa.fa-check {color: #009688;}
/*================== ums_footer================== */
.footer {background: #741a27;padding-top: 60px;padding-bottom: 50px;}
.footer hr {border-top: 1px solid #50121b;}
.footer-map img {max-width: 100%;width: 100%;margin:auto;border: 1px solid #f1f1f1;}
.footer-map>a{position: relative;display: block;}
.footer-map>a:after{position: absolute;content:"";bottom:0;left:0;width:100%;height: 100%;background-image: url(../images/instagram-pattern.png);background-repeat: no-repeat; background-position: center bottom;width:100%;height:100%;}
.footer-form-subscribe input,.footer-form-subscribe button {border-radius:0px;margin-bottom: 2%;}
.footer .social-media-links {list-style:none;margin-bottom:0;padding: 0;margin-top:5%;}
.footer .social-media-links li {display:inline-block;margin: 0px 30px;}
.footer .social-media-links li a {font-size:30px;color:#ffffff;transition: all ease 0.4s;-webkit-transition: all ease 0.4s;}
.links h4{color: #ffffff;text-align: right;font-size: 18px;padding-bottom: 5%;/* font-family: Cairo-Bold; */}
ul.uppercase-links.stacked-links{list-style-type: none;line-height: 2;text-align: right;padding: 0;color:#ffffff;}
ul.uppercase-links.stacked-links li{padding:1%;font-size:14px;}
ul.uppercase-links.stacked-links a {color: #ffffff;}
ul.uppercase-links.stacked-links li .fa{padding-left:10px;}
.footer-map iframe {height:150px;}
span.fa.fa-twitter:hover {color:#28a9e0;}
span.fa.fa-youtube-play:hover{color:#631823;}
 p.text-light.text-center.mb-0.pt-4 {color: #ffffff;}
button.btn.btn-primary{/* margin-top:5%; *//* width: 50%; *//* background:#631823; *//* padding: 2%; */}
.state_bar {border: 2px solid #009688;text-align: right;padding: 1% 4%;}
ul.edit li {text-align: right;}
.sectionContent {min-height: 300px;}
form#form_subscribe {text-align: right;}
@media only screen and ( max-width:767px)
{
.formlogo input#textusername { width: 90%;}
input#textpassword {margin-top:2%;width: 90%;margin-bottom:5%;}
.rightimglogo img {width: 20%;}
.rightimglogo  {border-left:0}
.formlogo h6 { margin-top:5%;background:#eee;padding:4%;margin-bottom:5%;}
.links_admin ul{padding:0;}
div#E-learningums-logo img {width: 25%;}
div#E-learningums-sitetitle h3 {font-size: 13px;}
div#E-learningums-sitetitle h4 {font-size: 10px;}
.left {margin-bottom: 2%;}
input.TextBox {width: 100%;}
}
@media only screen and ( max-width:480px)
{
.formlogo input#textusername {width: 90%;}
input#textpassword {margin-top:2%;width: 90%; margin-bottom:5%;}
.rightimglogo img {width: 20%;}
.rightimglogo  {border-left:0}
.formlogo h6 {margin-top:5%; background:#eee;padding:4%;margin-bottom:5%;}
.links_admin ul{padding:0;}
div#E-learningums-logo img {width: 60px;}
div#E-learningums-sitetitle h3 {font-size: 13px;margin:5px;}
div#E-learningums-sitetitle h4 {font-size: 14px;}
.left {margin: 0;padding: 5px;border: 1px solid #ccc;}
table.table.table-striped.table-bordered {font-size: 12px;}
div#E-learningums-sitetitle ul {text-align: center;padding:0;}
.panel-heading {background: #eee;line-height: 2;}
.panel-heading b{font-size:small;}
td.RightLabel {text-align: center;}
ul.title_top {display: none;}
.left {display: none;}
.panel-heading {font-size: 18px;  }
.footer{padding: 0;}
.links{padding:2% 0%;}
.footer .social-media-links{margin-top:20%;margin-bottom:5%;}
.footer .social-media-links li{padding:0;margin:0 3% 0 5%;}
form#nino-searchForm{display: none;}
.Social{padding-top: 10%;}
.sectionContent {min-height: 200px;padding-top:5%;}
}

